.flex-parent-element {
  display: flex;
  width: 50%;

}

.flex-child-element {
  flex: 1;
  border: 2px solid black ;
  font-size: 20px;
  border: 1.5px solid black;

}

.flex-child-element:first-child {
  margin-right: 30px;
} 
img{
  border: 2px black solid;
}
